
 h1 {
	 color:rgba(125,75,125,175);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(100,175,25,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(125,75,125,175);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(100,175,25,250);
	 text-align: center;
	 background-color: rgba(150,175,25,200);
 }