
 h1 {
	 color:rgba(225,25,75,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(200,125,125,50);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(225,25,75,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(200,125,125,50);
	 text-align: center;
	 background-color: rgba(50,150,75,50);
 }