
 h1 {
	 color:rgba(200,100,100,100);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(50,25,75,150);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(200,100,100,100);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(50,25,75,150);
	 text-align: center;
	 background-color: rgba(175,200,50,200);
 }