
 h1 {
	 color:rgba(250,100,150,75);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(25,125,250,175);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(250,100,150,75);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(25,125,250,175);
	 text-align: center;
	 background-color: rgba(225,25,250,175);
 }