
 h1 {
	 color:rgba(175,250,150,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(100,50,75,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(175,250,150,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(100,50,75,225);
	 text-align: center;
	 background-color: rgba(250,50,200,250);
 }