
 h1 {
	 color:rgba(50,25,25,100);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(25,125,225,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(50,25,25,100);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(25,125,225,125);
	 text-align: center;
	 background-color: rgba(175,75,25,50);
 }