
 h1 {
	 color:rgba(225,150,225,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(150,250,150,25);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(225,150,225,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(150,250,150,25);
	 text-align: center;
	 background-color: rgba(200,125,100,100);
 }