
 h1 {
	 color:rgba(200,150,200,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(200,200,75,200);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(200,150,200,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(200,200,75,200);
	 text-align: center;
	 background-color: rgba(100,175,150,200);
 }