
 h1 {
	 color:rgba(200,75,75,75);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(100,75,225,150);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(200,75,75,75);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(100,75,225,150);
	 text-align: center;
	 background-color: rgba(150,175,25,25);
 }