
 h1 {
	 color:rgba(125,25,200,200);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(225,200,25,25);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(125,25,200,200);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(225,200,25,25);
	 text-align: center;
	 background-color: rgba(150,50,150,225);
 }