
 h1 {
	 color:rgba(225,25,100,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(150,175,150,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(225,25,100,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(150,175,150,250);
	 text-align: center;
	 background-color: rgba(50,50,75,225);
 }