
 h1 {
	 color:rgba(175,125,75,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(225,100,50,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(175,125,75,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(225,100,50,125);
	 text-align: center;
	 background-color: rgba(100,25,75,175);
 }