
 h1 {
	 color:rgba(75,25,250,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(100,50,25,200);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(75,25,250,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(100,50,25,200);
	 text-align: center;
	 background-color: rgba(225,100,175,150);
 }