
 h1 {
	 color:rgba(100,200,175,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(200,100,125,75);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(100,200,175,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(200,100,125,75);
	 text-align: center;
	 background-color: rgba(125,125,100,250);
 }