
 h1 {
	 color:rgba(200,50,25,50);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(200,75,50,225);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(200,50,25,50);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(200,75,50,225);
	 text-align: center;
	 background-color: rgba(75,125,25,50);
 }