
 h1 {
	 color:rgba(100,200,200,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(175,150,225,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(100,200,200,250);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(175,150,225,250);
	 text-align: center;
	 background-color: rgba(125,225,25,125);
 }