
 h1 {
	 color:rgba(200,175,200,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(250,200,225,25);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(200,175,200,125);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(250,200,225,25);
	 text-align: center;
	 background-color: rgba(125,150,125,150);
 }