
 h1 {
	 color:rgba(225,100,100,25);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(125,175,150,50);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(225,100,100,25);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(125,175,150,50);
	 text-align: center;
	 background-color: rgba(25,125,150,100);
 }