
 h1 {
	 color:rgba(100,25,150,25);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(125,75,225,200);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(100,25,150,25);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(125,75,225,200);
	 text-align: center;
	 background-color: rgba(50,25,25,75);
 }