
 h1 {
	 color:rgba(75,225,100,50);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h2 {
	 color:rgba(150,200,250,50);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 h3 {
	 color:rgba(75,225,100,50);
	 font-size: 16;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
 }
 body {
	 color:rgba(150,200,250,50);
	 text-align: center;
	 background-color: rgba(225,100,50,200);
 }