

<hr/>

<div>
<element onclick="myScript">
<button class="btn btn-3" type="button" onclick="window.open('https://kiwiirc.com/');">kiwiirc</button>
<button class="btn btn-3" type="button" onclick="window.open('https://www.reddit.com/');">reddit</button>
<button class="btn btn-3" type="button" onclick="window.open('https://news.ycombinator.com/');">hackernews</button>
<button class="btn btn-3" type="button" onclick="window.open('https://www.hackerrank.com/');">hackerrank</button>
<button class="btn btn-3" type="button" onclick="window.open('https://www.toptal.com/');">toptal</button>
<button class="btn btn-3" type="button" onclick="window.open('https://weworkremotely.com/');">remote jobs</button>
<button class="btn btn-3" type="button" onclick="window.open('https://www.reddit.com/r/gpgpu/');">reddit gpgpu</button>
<button class="btn btn-3" type="button" onclick="window.open('https://www.reddit.com/r/webcl/');">reddit webcl</button>
<button class="btn btn-3" type="button" onclick="window.open('https://www.freecodecamp.org/');">freecodecamp free online bootcamp</button>
<button class="btn btn-3" type="button" onclick="window.open('https://webchat.freenode.net/');">freenode simple webclient</button>
<button class="btn btn-3" type="button" onclick="window.open('https://github.com/facebook/react/');">reactjs repo</button>

<hr/>